name: Tests

on: push

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - '3.2.0'
          - '3.3.0'
    steps:
      - uses: actions/checkout@master
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: gem install bundler && bundle && bundle exec rake build

